In [2]:
import pandas
pandas.__version__

'0.24.1'

In [1]:
import pandas as pd

In [4]:
pd.api

In [13]:
#Series object in Pandas
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
#In Pandas, index need not to be interger, but can be any type. Here they are string

data = pd.Series([0.25,0.5,0.75,1.0],
                index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [33]:
data2 = pd.Series ([0.25, 0.5, 0.75, 1],
                  index = [2,4,7,0])
data2

2    0.25
4    0.50
7    0.75
0    1.00
dtype: float64

In [7]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [25]:
data[0]

0.25

In [17]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [11]:
type(data.values)

numpy.ndarray

In [18]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [38]:
# Series as dictionary

population_dict = {'DaNang':12334,
                  'HaNoi':234234,
                  'HoChiMinh': 54234,
                  'QuangNam':1234}
population = pd.Series(population_dict)
population

DaNang        12334
HaNoi        234234
HoChiMinh     54234
QuangNam       1234
dtype: int64

In [3]:
population['DaNang']

12334

In [4]:
population['DaNang':'HoChiMinh']

DaNang        12334
HaNoi        234234
HoChiMinh     54234
dtype: int64

In [5]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [30]:
data = pd.Series({2:'A', 1:'B', 3:'D'})
data

2    A
1    B
3    D
dtype: object

In [35]:
data[0]

KeyError: 0

In [42]:
population_dict = {'DaNang':12334,
                  'HaNoi':234234,
                  'HoChiMinh': 54234,
                  'QuangNam':1234}
population = pd.Series(population_dict)
area_dict = {'DaNang':12,
            'HaNoi': 13,
            'HoChiMinh':14,
            'QuangNam': 10}
area = pd.Series(area_dict)

In [40]:
population

DaNang        12334
HaNoi        234234
HoChiMinh     54234
QuangNam       1234
dtype: int64

In [41]:
area

DaNang       12
HaNoi        13
HoChiMinh    14
QuangNam     10
dtype: int64

In [44]:
States = pd.DataFrame({'population' : population,
                     'area': area})

In [45]:
States

           population  area
DaNang          12334    12
HaNoi          234234    13
HoChiMinh       54234    14
QuangNam         1234    10

In [46]:
type(States['population'])

pandas.core.series.Series